<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grade form</title>
</head>
<body>
<th:block th:replace="fragments :: navigator"/>
<h1>Grade Form</h1>
<form th:action="@{/grade/add}" method="post" th:object="${grade}">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <input type="hidden" name="studentId" th:value="${studentId}">

    Subject: <select th:field="*{subject}">
    <option th:each="subject:${subjects}" th:text="${subject}" th:value="${subject}"></option>
    Grade value: <input type="number" step="0.5" th:field="*{value}" max="6" min="2"/>
</select><br/><br/>
    <input type="submit"/>
</form>
</body>
</html>
