<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Student list</title>
</head>
<body>
<th:block th:replace="fragments :: navigator"/>
<h2>Student list</h2>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Lp.</th>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Index</th>
        <th>Age</th>
        <th>Suspended</th>
        <th></th><!--        buttons-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="st,loop : ${students}">
        <td th:text="${loop.index}"></td>
        <td th:text="${st.getId()}"></td>
        <td th:text="${st.getFirstName()}"></td>
        <td th:text="${st.getLastName()}"></td>
        <td th:text="${st.getIndexNumber()}"></td>
        <td th:text="${st.getAge()}"></td>
        <td th:text="${st.isSuspended()}"></td>
        <td>
            <div class="btn-group" role="group">
                <a class="btn btn-sm btn-outline-primary" th:href="@{'/student/grades/'+${st.getId()}}">Show
                    grades
                </a>
                <a class="btn btn-sm btn-outline-primary" th:href="@{'/grade/add/'+${st.getId()}}">Add new grade
                </a>
                <a class="btn btn-sm btn-outline-primary" th:href="@{'/student/edit/'+${st.getId()}}">Edit</a>
                <a class="btn btn-sm btn-outline-danger" th:href="@{'/student/delete/'+${st.getId()}}">Delete
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
